PORT=8080
JWT_SECRET=tu_secreto_super_seguro
CLIENT_URL=http://localhost:5173
# Credenciales de Google Cloud Service Account
SPREADSHEET_ID=el_id_de_tu_google_sheet
GOOGLE_CLIENT_EMAIL=tu-service-account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----"
